#img-cart{
    width: 100px;
    height: 100px;
}

#product-row{
    display: flex;
    align-items: center;
    color: rgb(69, 69, 69);
}

#first-row{
    border-bottom: 1px solid;
}

h6{
    color: rgb(69, 69, 69);
}