.shopping{
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 25px;
    border-style: none;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#number{
    color: white;
    position: absolute;
    margin-bottom: 0px;
    bottom: 5px;
    right: 0px;
    font-weight: 600;
}