#img-cart{
    width: 100px;
    height: 100px;
}

#product-row{
    display: flex;
    align-items: center;
    color: rgb(69, 69, 69);
}

h6{
    color: rgb(69, 69, 69);
}

.product-list{
    margin-left: 50px;
}

#delete-icon{
    max-width: 20px;
    margin-left: 5px;
}