@import "./Style.css";

#empty-list-text{
    color: var(--gris-semiclaro);
}

.empty-list{
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    margin: 100px;
}

#back-to-home{
    color: white;
    border-color: white;
    background-color: var(--verde-claro);
}

#back-to-home:hover{
    background-color: var(--verde-oscuro);
}