/*#ProductDetail{
    display: flex;
    position: relative;
    max-width: 1000px;
    float: left;
    padding-right: 0px;
    padding-top: 20px;
}

p{
    text-align: left;
}

h2{
    margin-top: 0px;
}*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

.left-column {
    width: 55%;
    position: relative;
}
   
.rigth-column {
    width: 35%;
    margin-top: 60px;
}

.left-column img {
    margin-top: -30px;
}

h2{
    margin-top: 30px;
}

h4{
    color: rgb(69, 69, 69);
}

p{
    text-align: left;
    color: rgb(116, 115, 115);
}

#right{
    padding-left: 40px;
}

h2, h4, p{
    font-family: "Bahnschrift";
}