.products{
    margin-top: 0px;
    padding: 20px;
    max-width: 280px;
}

.products :hover{
    border-top-color: rgb(74, 198, 74);
    border-top-width: 3px;
}

#clickOnProduct{
    text-decoration: none;
    padding: 0.7em 0.7em;
    color: black;
}

img{
    margin-left: auto;
    margin-right: auto;
}

#addToCart{
    display: flex !important;
    position: relative;
    left: 20px;
}

#price{
    display: flex;
    justify-content: center;
    font-size: 14px;
}

#title1{
    display: flex;
    justify-content: center;
    font-size: 15px;
}

