.ProductDetail{
    display: flex;
    max-width: 1000px;
    float: left;
    padding-right: 0px;
    padding-top: 20px;
}

p{
    text-align: left;
    max-width: 1000px;
}

h2{
    margin-top: 20px;
}
