.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

.left-column {
    width: 55%;
    position: relative;
}
   
.rigth-column {
    width: 35%;
    margin-top: 60px;
}

.left-column img {
    margin-top: -30px;
}

/*.left-column:hover img {
    transform: scale(1.2);
}*/

h2{
    margin-top: 30px;
    color: rgb(69, 69, 69);
}

h4{
    color: rgb(116, 115, 115);
}

p{
    text-align: left;
    color: rgb(69, 69, 69);
}

#right{
    padding-left: 40px;
}

h2, h4, p{
    font-family: "Bahnschrift";
}

#imageGallery{
    display: flex;
    max-height: 100px;
    max-width: 100px;
    width: 100px;
    height: 100px;
    margin-right: 30px;
    border: 0.09rem solid rgb(180, 180, 180);
    margin-bottom: 7px;
}

li{
    list-style:none;
}

#FinishCart{
    color: white;
    border-color: white;
    /*background-color: rgb(74, 198, 74);*/
    background-color: rgb(210, 64, 64);
}

#FinishCart:hover{
    background-color: rgb(198, 74, 74);;
}