.navBar{
    background-color: rgb(231, 231, 231, 0.7);
}

.navBar .container{
}

.navBar .container .brand{
    margin-left: 1.3rem;
    font-size: 30px;
    font-family: "Bahnschrift SemiBold";
}

.links{
    font-family: "Bahnschrift";
}

.image1{
    object-fit:cover;
}
