.navBar{
    background-color: rgba(25, 25, 26, 0.7);
}

.navBar .container .brand{
    margin-left: 1.3rem;
    font-size: 30px;
    font-family: "Bahnschrift SemiBold";
    color: white;
}

.banner{
    object-fit:cover;
}

#navbarScrollingDropdown{
    color: rgb(207, 204, 204);
}

#title{
    color: white;
}

.routes li{
    display: inline;
    text-decoration: none;
    padding: 0.7em 0.7em;
    color: white;
}

#buttons{
    color: rgb(207, 204, 204) !important;
    text-decoration: none;
    font-family: "Bahnschrift";
    font-size: 17px;
}

#buttons:hover{
    font-size: 20px;
    color: rgb(222, 221, 221) !important;
}