@import "./Style.css";

#bg-nested-dropdown{
    margin-top: 20px;
    margin-left: 20px;
}

#bg-nested-dropdown:hover{
    background-color: var(--verde-claro);
}

#DropdownItem:active{
    background-color: var(--verde-claro);
}